<!-- for Docker Env: same as production config, but log everything to console -->
<configuration>
    <!-- Log messages to console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern><![CDATA[%date{yyyy-MM-dd HH:mm:ss.SSSZ} [%level] %logger - %message%n%xException]]></pattern>
        </encoder>
    </appender>
    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE" />
    </appender>
    
    <!-- Log messages to console -->
    <appender name="CONSOLE_JOB_HANDLER" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern><![CDATA[%date{yyyy-MM-dd HH:mm:ss.SSSZ}\t%message%n]]></pattern>
        </encoder>
    </appender>
    <appender name="ASYNC_CONSOLE_JOB_HANDLER" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE_JOB_HANDLER" />
    </appender>
    
    <root level="INFO">
        <appender-ref ref="ASYNC_CONSOLE" />
    </root>
    
    <logger name="gearman" level="WARN" />
    
    <logger name="job-handler" level="INFO" additivity="false">
        <appender-ref ref="ASYNC_CONSOLE_JOB_HANDLER" />
    </logger>
</configuration>
