<!-- for Production Env: log everything to log files, rolling each file per day -->
<configuration>
    <!-- Log messages to file -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file><![CDATA[${app.logdir:-.}/application.log]]></file>
        <append>true</append>
        <encoder>
            <pattern><![CDATA[%date{yyyy-MM-dd HH:mm:ss.SSSZ} [%level] %logger - %message%n%xException]]></pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern><![CDATA[${app.logdir:-.}/application.log.%d{yyyy-MM-dd}]]></fileNamePattern>
        </rollingPolicy>
    </appender>
    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE" />
    </appender>
    
    <root level="INFO">
        <appender-ref ref="ASYNC_FILE" />
    </root>
</configuration>
